/* This file contains styling for components used across multiple pages. */

/* Affects the parts of the page without content, and holds global variables. */
:root {
  --footer-height: 40px;
  --component-hover-color: rgb(245, 245, 245); /* Components change to this color when hovered over. */
  --site-background-color: rgb(219, 215, 225); /* Used to make the site's background color consistent. */

  background-color: var(--site-background-color);
}

/* Affects the parts of the page with content. */
.index {
  min-height: 100vh;
  position: relative; /* Used to keep the footer where it belongs. */
  padding-bottom: calc(var(--footer-height) + 10px); /* Prevents a page's content from being covered by the footer. */
  background-color: var(--site-background-color);

  text-align: center;
  font-family: 'Meiryo UI', 'Helvetica', sans-serif;
  font-size: 20px;
  color: black; /* text color */
}

/* Adds extra space between the page's h1 header and its surroundings. */
.page-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Inserts a gap between the page's content and the edges of the screen. */
.page-content {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

/******* Footer Component START *******/
.footer-c {
  /* Sets the footer to the bottom of the page. */
  position: absolute;
  bottom: 0;
  height: var(--footer-height);

  border-top: 1px grey solid;
  padding-top: 5px; /* Vertically centers the footer's content. */
}
/******* Footer Component END *******/

/******* Navigation Bar Component START *******/
.navigation-bar-c {
  border-bottom: 1px grey solid;
  padding: 0.25rem; /* Makes the navigation bar not as tall. */
}

/* The part of the navbar with "Anthony Zhang". */
.navigation-bar-c .navbar-brand {
  font-weight: bold;
}

.navigation-bar-c .nav-link {
  color: black;
}

.navigation-bar-c .navbar-brand:hover,
.navigation-bar-c .nav-link:hover {
  color: grey;
}
/******* Navigation Bar Component END *******/

/******* Work Card Component START *******/
/* Indicates that a card is clickable by changing the cursor and color of the card on hover. */
.work-card-c:hover {
  cursor: pointer;
  background-color: var(--component-hover-color);
}

.work-card-c .card-img {
  max-height: 22.5rem;
}

.work-card-c .card-title {
  font-weight: bold;
}
/******* Work Card Component END *******/