/* This file contains styling used on any of a work's pages and its components.
 * Each work in the works page has their own page. */

.work-p {
  text-align: left;
}

.work-p .page-title,
.work-p .large-url {
  text-align: center;
}

.work-p .cover-image {
  /* Centers the image. */
  display: block;
  margin: auto auto 1rem auto;

  max-width: 100%;
}

/* Removes the underlining on a link and allows it to be line broken anywhere for better responsiveness. */
.work-p .undecorated-link {
  text-decoration: none;
  overflow-wrap: anywhere;
}

.work-p .section-title {
  margin-top: 1rem;
}

.work-p .section-body {
  margin-bottom: 2.5rem;
}

.work-p .page-last-updated {
  margin-top: 0.5rem;
}

/******* Work Image Row Component START *******/
.work-image-row-c img {
  /* Limits the dimensions of the image to the size of the column. */
  max-width: 100%;
  max-height: 100%;

  border: 1px solid black;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.work-image-row-c .caption-col {
  display: flex;
}

.work-image-row-c .caption {
  /* Centers the caption vertically in its column. */
  display: flex;
  align-items: center;

  white-space: pre-line; /* Allow for newline characters to break lines. */
}
/******* Work Image Row Component END *******/