/* This file contains styling used on any of a work's pages and its components.
 * Each work in the works page has their own page. */

.work-p .cover {
  /* Centers the cover image. */
  display: block;
  margin: auto auto 1rem auto;

  max-width: 100%;
  max-height: 15vh;
}

.work-p .large-url {
  margin-top: 0.75rem;
}

/* Removes the underlining on a link and allows it to be line broken anywhere for better responsiveness. */
.work-p .undecorated-link {
  text-decoration: none;
  overflow-wrap: anywhere;
}

.work-p .section-title {
  margin-top: 1.5rem;
}

.work-p .section-body,
.work-p .page-last-updated {
  text-align: left;
}

.work-p .section-body {
  margin-bottom: 1.5rem;
}

/******* Captioned Image Component START *******/
.captioned-image-c .image-link {
  display: block;
  margin: 1.5rem auto 1rem auto;
  border: 1px solid grey;
  
  /* Keeps the clickable part of the link within the image itself. */
  width: fit-content;
  max-width: 75%;
}

.captioned-image-c img {
  max-width: 100%; /* Prevents the image from spilling out of its <Link> container. */
  max-height: 66vh;
}

.captioned-image-c .caption {
  margin-bottom: 3.5rem;
  white-space: pre-line; /* Allow for newline characters to break lines. */
}
/******* Captioned Image Component END *******/